/* Noto Sans CJK KR */
@font-face {
  font-family: 'Noto Sans CJKKR';
  src: url('../../assets/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff2')
      format('woff2'),
    url('../../assets/fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff')
      format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans CJKKR';
  src: url('../../assets/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff2')
      format('woff2'),
    url('../../assets/fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff')
      format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans CJKKR';
  src: url('../../assets/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff2')
      format('woff2'),
    url('../../assets/fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff')
      format('woff');
  font-style: normal;
  font-weight: 700;
}
